/.idea
/.vscode
/*.iml
/.coverage
/.npm-cache
/.jest-cache
/.DS_Store
/packages/*/node_modules
/packages/**/build
**/*.scss.d.ts
package-lock.json
pnpm-lock.yaml
/packages/*/package-lock.json


/dist
/coverage
/.nx/cache
